*{
    margin: 0%;
    padding: 0;
}
body {
    background-color: #D59F45;
    background: linear-gradient(to bottom, #d59f45, #f4e1a1);
}
a{
    text-decoration: none;
    font-size: x-large;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-inline: 30px;
    display: flex;
    color:#fca311;
}
a:hover {
    color: white;
}
#logo{
    color: #f77f00;
}

#title{
    text-align: center;
    color:#ad2831;
}
.XYZ {
    display: flex;
    background-color: #14213d;
    gap: inherit;
    height: 2cm;
    justify-content: space-between;
    align-items:center;


}

#nav-cont{
    display: flex;
    
}


    #logo{
        font-size: xx-large;
        font-weight: 800;
        
    }

.entry-table {
    display: flex;

    flex-direction: column;
    gap: 80px;
    background-color: #f4e1a1;
    height: 450px;
    width: 450px;
    padding: 1cm;
    margin: 20px;
    border-radius: 30px;
    border: 5px solid #800000;
    margin-top: 10px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.2);


}

#name,
#amount,
#description {
    display: flex;
    justify-content: space-between;

}

#categoryinp {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 16px ;
}
select{
    width: 38%;
}

#category select {
    width: 38%;
    padding: 5px;
    font-size: 16px;
    border: 0.5px solid black;
    border-radius: 4px;
}

#button {
    display: flex;
    justify-content: center;
}

label {
    font-size: x-large;
    border-radius: 4px;
}

#container {
    display: flex;
    justify-content: space-between;
}

table {
    background-color: #f4e1a1;
    width: 90%;
    border: 5px, solid, #800000;
    border-collapse: collapse;
    table-layout: fixed;
    margin-top: 10px;
}



td {
    height: 1cm;
    white-space: nowrap;
    border: 2px solid, black;
    


}

.table-loaded {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #f4e1a1;
    border: 5px solid #800000;
    border-radius: 30px;
    height: 450px;
    width: 450px;
    overflow: auto;
    padding: 1cm;
    margin-top: 10px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.2);
}
img{
    box-shadow: 0px 4px 12px rgba(0,0,0,0.2);
    border-radius: 30px;
}




.table-loaded::-webkit-scrollbar {
    width: 10px;

}

.table-loaded::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.table-loaded::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

#totalContainer {
    position: absolute;
    bottom: 0px;
    left: 40%;
    font-size: x-large;
    font-weight: bold;
    color: white;
    text-align: center;
    background-color: #000000;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

strong {
    font-size: x-large;
    color: white;
}
.scrollable-table-body {

    width: 100%;
}
.scrollable-table-body tr{
    height: auto;
    max-height: 415px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color:#e6b7b1
}
#button button {
    font-size: 22px;

    padding: 15px 30px;

    width: 200px;

    height: 60px;

    border-radius: 10px;

    background-color: #000000;

    color: white;

    border: none;

    cursor: pointer;

    font-weight: bold;

}

#button button:hover {
    background-color: #a52a2a;
    transform: scale(1.05);

}

.image-section {
    text-align: center;
    margin: 20px 0;
}

.image-section {
    text-align: center;
    margin-top: 100px;

    margin-bottom: 20px;

}