* {
    margin: 0%;
    padding: 0%;
}

body {

    background-image: url(osama-elsayed-vqRMXgVtGXM-unsplash\ \(1\).jpg);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;

}

.abc {
    display: flex;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    color: #8b0000;
    margin-top: 15px;

}


a {
    text-decoration: none;
    font-size: x-large;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-inline: 30px;
    display: flex;
    color:#fca311;
}

a:hover {
    color: white;
}
h1{
    color: #219ebc;
}
h1:hover{
    color: #f77f00;
}
.XYZ {
    display: flex;
    background-color: #14213d;
    gap: inherit;
    height: 2cm;
    justify-content: space-between;
    align-items:center;


}
#nav-cont{
    display: flex;
    
}


.container {
    background: rgba(255, 215, 0, 0.2);
    padding: 20px;
    margin-left: 580px;
    margin-top: 95px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 300px;
    border: 3px solid black;
}

h2 {
    color: #000000;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0px;
    border: none;
    border-radius: 5px;
}

button {
    background: #FFD700;
    color: #000;
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

button:hover {
    background: #DAA520;
}

.signup-link {
    margin-top: 10px;
}

.signup-link a {
    color: #FFD700;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}